[submodule "smart-contracts/lib/protocol-rsk"]
	path = smart-contracts/lib/protocol-rsk
	url = https://github.com/Tropykus/protocol-rsk
[submodule "smart-contracts/lib/v3-periphery"]
	path = smart-contracts/lib/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
